<footer class="footer">
    <div class="container">
        <div class="tile is-half">
            <div class="tile is-2">
                <div class="menu is-small">
                    <p class="menu-label is-size-6 has-text-black">服务与支持</p>
                    <ul class="menu-list">
                        <li><a href="/business">主营业务</a></li>
                        <li><a href="/service">设计流程</a></li>
                        <li><a href="honor">代表项目</a></li>

                    </ul>
                </div>
            </div>
            <div class="tile is-2">
                <div class="menu is-small">
                    <p class="menu-label is-size-6 has-text-black">关于我们</p>
                    <ul class="menu-list">
                        <li><a href="/service">公司简介</a></li>
                        <li><a href="/about">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="content has-text-centered is-small">
            <p>Copyright © 2017 - 2018 JHD. All Rights Reserved.西安佳涵达照明设计有限公司 版权所有 </p>
        </div>
    </div>
</footer>