<nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" href="http://bulma.io">
            <img src="/static/images/logo.jpg" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
        </a>

        <div class="navbar-burger burger" data-target="navMenubd-example">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item  is-active" href="/">首页</a>
            <a class="navbar-item  is-active" href="/business">主营业务</a>
            <a class="navbar-item  is-active" href="/honor">荣誉</a>
            <a class="navbar-item  is-active" href="/service">服务与支持</a>
        </div>
    </div>
</nav>