{% extends "../layout/index.html" %}

{% block banner %}
<section class="hero is-medium banner service-banner">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle has-text-light">用心为您创造更为干净明亮的生活</h2>
        </div>
    </div>
</section>
{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="subtitle">联系我们</h1>
            <ul>
                <li><span class="icon is-small"><i class="fa fa-address-card-o"></i></span>
                    地址：西安市雁塔区西影路海伦国际31#303</li>
                <li><span class="icon is-small has-text-success"><i class="fa fa-phone"></i></span>
                    电话：13437169283</li>
                <li><span class="icon is-small has-text-info"><i class="fa fa-briefcase"></i></span>
                    邮箱：2149833843@qq.com</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
