{% extends "../layout/index.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <aside class="menu">
                    <p class="menu-label">
                        服务与支持
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="javascript: void(0)">公司简介</a>
                        </li>
                        <li>
                            <a href="javascript: void(0)">设计流程</a>
                        </li>
                        <li>
                            <a href="javascript: void(0)">联系我们</a>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <div class="content">
                    <h2>公司简介</h2>
                    <p>西安佳涵达照明设计有限公司创立于2017年，核心业务是高端照明节能产品研发推广、城市照明节能系统管理与服务、景观照明设计，属中国优秀的专业照明机构。</p>
                    <p>
                        佳涵达照明在节能型产品研发领域拥有非常丰富的研发和应用经验，承担国家重大科研课题，拥有国内顶级水平的专家，以及电气驱动系统、光学设计、结构设计领域的资深专业技术人员，人员配备完善，设计师及电气工程师皆为业内资深人士。</p>
                    <p>
                        多年来，我们专注于城市夜景规划及标志性建筑、商业、酒店、住宅的夜景照明设计。公司设计项目经验丰富，主理过国内众多大型灯光项目。上海世博会主题馆灯光项目并荣获“中国鲁班奖”“中照奖”“上海照明学会一等奖”等诸多奖项。与富力地产、新城地产、长甲集团、复星集团、雨润集团、宝龙集团等明星企业签订长期战略合作。</p>
                </div>

                <div class="content">
                    <h2>设计流程</h2>
                    <nav class="level">
                        <div class="level-item has-text-centered">
                            <div class="box">
                                <p class="subtitle">概念方案</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <p class="subtitle"><span class="icon is-large has-text-success"><i
                                    class="fa fa-long-arrow-right"></i></span></p>
                        </div>
                        <div class="level-item has-text-centered">
                            <div class="box">
                                <p class="subtitle">方案设计</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <p class="subtitle"><span class="icon is-large has-text-success"><i
                                    class="fa fa-long-arrow-right"></i></span></p>
                        </div>
                        <div class="level-item has-text-centered">
                            <div class="box">
                                <p class="subtitle">深化设计</p>
                            </div>
                        </div>
                        <div class="level-item has-text-centered">
                            <p class="subtitle"><span class="icon is-large has-text-success"><i
                                    class="fa fa-long-arrow-right"></i></span></p>
                        </div>
                        <div class="level-item has-text-centered">
                            <div class="box">
                                <p class="subtitle">技术支持</p>
                            </div>
                        </div>
                    </nav>
                </div>

                <div class="content">
                    <h2>联系我们</h2>
                    <ul>
                        <li><span class="icon is-small"><i class="fa fa-address-card-o"></i></span>
                            地址：西安市雁塔区西影路海伦国际31#303
                        </li>
                        <li><span class="icon is-small has-text-success"><i class="fa fa-phone"></i></span>
                            电话：13437169283
                        </li>
                        <li><span class="icon is-small has-text-info"><i class="fa fa-briefcase"></i></span>
                            邮箱：2149833843@qq.com
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block banner %}
<section class="hero is-medium banner service-banner">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle has-text-light">用心为您创造更为干净明亮的生活</h2>
        </div>
    </div>
</section>
{% endblock %}